
.vs/ConvolutionNeuralNetwork/v15/.suo
.vs/ConvolutionNeuralNetwork/v15/Browse.VC.db
.vs/ConvolutionNeuralNetwork/v15/Browse.VC.opendb
.vs/ConvolutionNeuralNetwork/v15/ipch/AutoPCH/55d1c52247f54f2d/FANN_ERROR.ipch
.vs/ConvolutionNeuralNetwork/v15/Server/sqlite3/db.lock
.vs/ConvolutionNeuralNetwork/v15/Server/sqlite3/storage.ide-shm
.vs/ConvolutionNeuralNetwork/v15/Server/sqlite3/storage.ide
.vs/ConvolutionNeuralNetwork/v15/Server/sqlite3/storage.ide-wal
